.footer {
	margin: 5rem 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.footer strong {
	font-size: 2rem;
	font-weight: 600;
    line-height: 2rem;
}

.footerMenu {
	width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	align-content: center;
	flex-direction: row;
}

.footerMenu a {
	font-weight: 500;
	color: var(--gray-900);
	text-decoration: none;
}

@media only screen and (max-width: 575px) {
	.footer {
		//padding: 1.5rem 0rem;
	}
}

@media only screen and (max-width: 991px) {
	.footerMenu {
		width:60%;
	}
}
@media only screen and (max-width: 767px) {
	.footer {
		margin: 2.5rem 0;
		flex-direction: column;
		align-items: center;
	}

	.footerMenu {
		padding-top: 1.5rem;
		width: 100%;
	}
}
